In [2]:
import pandas as pd

In [38]:
df=pd.read_csv('Documents/training.1600000.processed.noemoticon.csv', sep=',', header=None, encoding='latin-1')

In [39]:
df

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [40]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [41]:
df[0].value_counts()

4    800000
0    800000
Name: 0, dtype: int64

In [42]:
df[3].value_counts()

NO_QUERY    1600000
Name: 3, dtype: int64

In [43]:
df[5][0]

"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [44]:
df[5][1]

"is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

In [45]:
df[5][2]

'@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'

In [46]:
df[5][3]

'my whole body feels itchy and like its on fire '

In [47]:
df[5][4]

"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. "

In [48]:
df[5][5]

'@Kwesidei not the whole crew '

In [49]:
# remove colunas 1, 2, 3 e 4
df = df.drop(df.columns[[1, 2, 3, 4]], axis=1)

In [50]:
df

         0                                                  5
0        0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        0  is upset that he can't update his Facebook by ...
2        0  @Kenichan I dived many times for the ball. Man...
3        0    my whole body feels itchy and like its on fire
4        0  @nationwideclass no, it's not behaving at all....
...     ..                                                ...
1599995  4  Just woke up. Having no school is the best fee...
1599996  4  TheWDB.com - Very cool to hear old Walt interv...
1599997  4  Are you ready for your MoJo Makeover? Ask me f...
1599998  4  Happy 38th Birthday to my boo of alll time!!! ...
1599999  4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [51]:
#subtituir sites na web pela palavra url (coloquei uma palavra menor para ficar mais leve)

df[5] = df[5].str.replace('http\S+|www.\S+','url')

In [52]:
#substituir menções (exemplo: @fulanodetal) pela palavra ref (coloquei uma palavra menor para ficar mais leve)

df[5] = df[5].str.replace('@[A-Za-z0-9]+','ref')

In [53]:
df[5][0]

"ref url - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [54]:
df[5][1]

"is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

In [55]:
df[5][2]

'ref I dived many times for the ball. Managed to save 50%  The rest go out of bounds'

In [56]:
df[5][3]

'my whole body feels itchy and like its on fire '

In [57]:
df[5][4]

"ref no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. "

In [58]:
# install library to convert emiticon into words
# reference: https://medium.com/towards-artificial-intelligence/emoticon-and-emoji-in-text-mining-7392c49f596a
#!pip install emot

In [59]:
###WRONG!!!!! STILL NEED CHECK!!!!!

# convert emiticon into words
# reference: https://medium.com/towards-artificial-intelligence/emoticon-and-emoji-in-text-mining-7392c49f596a

def convert_emoticons(text):
    for emot in EMOTICONS:
        text = re.sub(u'('+emot+')', "_".join(EMOTICONS[emot].replace(",","").split()), text)
    return text

In [60]:
# python didn't return an error but it didn't work
df[5][0]

"ref url - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [61]:
df[5][218]

'ref  omgawd i couldnt handle my cat being in heat all the time D: D:'

In [62]:
df[5][201]

"ref Your show is whack. Way worse than whack, it's wiggety-whack.    :*(:*(:*("

In [63]:
df[5][305]

"Argh! I was suuuper sleepy an hour ago, now I'm wide awake.  Hope I don't stay up all night. :-/"

In [30]:
#entretanto não sei sei isso é necessário. Identifiquei muito poucos tweets com emoticons. 
#Tive que ir até a linha 300 para achar 4 exemplos.

In [23]:
#remove punctuation
# reference: https://medium.com/towards-artificial-intelligence/emoticon-and-emoji-in-text-mining-7392c49f596a

In [ ]:
#change uppercase to lowercase
# reference: https://medium.com/towards-artificial-intelligence/emoticon-and-emoji-in-text-mining-7392c49f596a